.popular-places {
  padding-top: 80px;
}
.popular-places__wrapper {
  padding: 0 15px;
  margin: 0 auto;
}
.popular-places__item {
  min-height: 148px;
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.popular-places__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
  z-index: 5;
}
.popular-places__item:hover img {
  transform: scale(1.08);
  z-index: 0;
}
.popular-places__item img {
  min-height: 148px;
  transition: all 0.5s;
  z-index: 0;
}
.popular-places__item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 9;
  color: #fff;
}
.popular-places__item-title {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 2px;
}
.popular-places__item-booking {
  font-size: 14px;
  font-weight: 600;
}
.swiper {
  position: relative;
  padding-bottom: 50px !important; /* Navigatsion nuqtalarni pastga tushirish */
}
.swiper-slide {
  height: auto;
}
.swiper-pagination {
  position: absolute !important;
  bottom: 5px !important; /* Rasmdan tashqariga chiqarish */
}
.swiper-pagination > span {
  width: 12px;
  height: 12px;
}
.swiper-pagination > span.swiper-pagination-bullet-active {
  background-color: #e1ac0c !important;
}

@media screen and (max-width: 480px) {
  .popular-places {
    padding-top: 65px;
  }
}
