.banner {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)),
    url("/public/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner__wrapper {
  width: 84%;
  margin: 0 auto;
}
.banner__caption {
  padding: 200px 0;
}
.banner__top-liner {
  width: 80px;
  height: 3px;
  background-color: #e1ac0c;
}
.banner__title {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.7px;
  margin: 20px 0;
  word-wrap: break-word;
}
.banner__subtitle {
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.7px;
}
.banner__caption-button {
  margin-top: 35px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 16px;
  background-color: #e1ac0c;
  border: 2px solid #e1ac0c;
  transition: all 0.5s;
}
.banner__caption-button:hover {
  background-color: transparent;
  color: #e1ac0c;
}

/* Start of Banner__booking */
.banner__booking {
  padding: 17px 0;
  border-bottom: 5.5px solid #e1ac0c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
}
.banner__booking-form {
  display: flex;
}
.banner__booking-input-box,
.banner__booking-button-box {
  padding: 0 15px;
  flex: 1;
}
.banner__booking-input-box {
  border-right: 1px solid #ddd;
}
.banner__booking-input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #9f9f9f;
  font-size: 15px;
}
.banner__booking-button {
  width: 100%;
  height: 50px;
  background-color: #e1ac0c;
  border: 2px solid #e1ac0c;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.6px;
  color: #fff;
  transition: all 0.5s;
}
.banner__booking-button:hover {
  background-color: transparent;
  color: #e1ac0c;
}

@media screen and (max-width: 920px) {
  .banner__wrapper {
    width: 100%;
  }
  .banner__caption {
    padding: 200px 30px;
  }
  .banner__booking-form {
    flex-direction: column;
  }
  .banner__booking-input {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
}
@media screen and (max-width: 780px) {
  .banner__caption {
    padding: 165px 30px;
  }
}
@media screen and (max-width: 480px) {
  .banner__caption {
    padding: 120px 0;
  }
  .banner__title {
    font-size: 38px;
    letter-spacing: 0.4px;
    margin: 10px 0;
  }
}
